*/src/main/resources/application.yml
*/src/main/resources/banner.txt
*/src/test/resources/test_profile.jpg
*/src/test/resources/application.yml
social-server-api/src/test/java/com/github/prgrms/social/api/aws/
social-server-ui/node_modules
social-server-ui/.next
social-server-ui/.env
/target/
target/
!.mvn/wrapper/maven-wrapper.jar
/log/
log/
*.log
*.log.gz
.DS_Store


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/